/briefing.pdf
/briefing.synctex.gz
/tmp
/briefin.synctex.gz
/briefing.aux
/briefing.log
/briefing.out
/Dashboard_Briefing.pdf
/Dashboard_Briefing.synctex.gz
/Dashboard_Phase_One.pdf
/Dashboard_Phase_One.synctex.gz
/Dashboard.pdf
/Dashboard.synctex.gz
/tempPartial00000.pdf
/tempPartial00000.synctex.gz
